@import "vendors/bootstrap";
@import "vendors/senado";
@import "utils/variables";

@c1 : #4c061d;
@c2 : #8e3b46;
@c3 : #6a8d73;
@c4 : #c1cc99;
@c5 : #bcd8c1;

.Progress {
  position: relative;
  font-size: 0;

  background: @c5;

  &:before {
    content: ".";
    text-indent: -9999px;
    left: 0;
    right: 0;
    bottom: -20px;
    top: -20px;
    position: absolute;
  }
}

  .Progress-bar {
    height: 6px;
    width: 100%;

    position: relative;

    transform: scaleX(0);
    transform-origin: 0 0;
    background: @c2;
  }

  .Progress-scrubber {
    display: block;
    position: absolute;

    top: 50%;
    margin-top: -6px;

    border: 2px solid #fff;
    border-radius: 6px;
    height: 12px;
    width: 12px;
    background: #EEE;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
  }

