doctype html
html(lang='pt')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no')
    link(href='styles/main.css', rel='stylesheet')

    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans:100' rel='stylesheet' type='text/css')
    style.
      * { font-family: 'Josefin Sans', sans-serif; font-weight: 100; }
      .logo { height: calc(100vh - 110px); }

  body#sfcss

    .container
      .row
        .col-xs-12
          .Box.Box--lg
            .Progress(data-max-value=100)
              .Progress-scrubber
            .Audio
              audio#test

          .l-country

          .l-fork--lg
            #pause.glyphicon.glyphicon-pause.beta
            #play.glyphicon.glyphicon-play.beta
            #point.glyphicon.glyphicon-list.beta
          #time.Box.gamma
          #state.Box.beta

    script(src="scripts/radio-player.min.js")



