doctype html
html(lang="pt")

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no")

    link(href="styles/vendors.css", rel="stylesheet")
    link(href="styles/main.css", rel="stylesheet")

  body#sfcss

    - var tracks = require('./modules/fixtures/videos.json').tracks.map(function (track, i) {
    -  track.idx = i
    -  return track
    - })

    .container
      .row
        .col-sm-7
          .Box.Box--lg
            .Box.Box--y
              strong.text-muted state
              | :
              = ' '
              span.js-stdout
            .Embed.Embed--3by2(class="+light").u-spacer--xl
              video#video(data-current-track="0")
            .Arrange
              .Arrange-sizeFit
                button#toggle.btn.btn-default toggle
              .Arrange-sizeFill
                .Progress.js-progress(role="progressbar" tabindex=-1 aria-valuemax="1")
                  .Progress-scrubber
              .Arrange-sizeFit
                button#toggle.btn.btn-default toggle

        .col-sm-4
          .Box
            .js-output
              .Box.js-gemini.js-roulette(style='height: 500px; overflow: hidden')
                .CutHere.CutHere--lg
                  for track in tracks
                    div
                      .Box.js-track(role='button' id='js-track-#{track.idx}' data-track-idx=track.idx) #{track.url}


    script(src="jquery/dist/jquery.min.js")
    script(src="scripts/radio-player.min.js")
