.Box.js-gemini(style='height: 500px; overflow: hidden')
  .CutHere.CutHere--lg
    for track in tracks
      div
        .Box.js-track(role='button' id='js-track-#{track.idx}' data-track-idx=track.idx) #{track.url}
